---
title: Engineering
hide_contact_footer: true
---
<div class="row">
  <div class="col">
    <div class="text-width">
      <h1>Engineering</h1>

      <p>In addition to singing, I am also a classical recording engineer and video maker. I studied with Philipp Reif, Tonmeister for the Berlin Philharmonic, and I have recorded everything from albums to digital content for early music ensembles.</p>

      <p>I strive to capture not just the excitement of a great performance, but the excitement of being <em>part</em> of a great performance – from the warmth of the room to the finest details of musical expression.</p>

      <p>As an engineer and producer, I work with you to understand your goals and then design the best audio and video setup to capture you and the music. As a musician myself, I enjoy creating a relaxed, safe atmosphere where everyone can take the biggest risks and do their best work.</p>

      <p>In postproduction, I mix audio, help select audio takes (and camera angles, for video), and use these to produce a finished product that is as musical as possible.</p>

      <p>My equipment and recording technique are highly transparent, so the result sounds as good as you sound in real life: 8 Schoeps mics, RME preamps and conversion, and 2 4K Sony video cameras.</p>

      <p>Please <a href="mailto:ben@benkazez.com">email me</a> so we can explore working together.</p>

      <h2>Recent Work</h2>

      <div class="video-card align-left">
        <lite-youtube 0XkTki8w41E
          videoid="0XkTki8w41E"
          playlabel="Sonata in a minor (Telemann)"></lite-youtube>
        <div class="video-title">Sonata in a minor (Telemann)</div>

        <div class="credit">Audio engineering/mixing/editing and video editing. Ensemble: Tra Noi</div>
      </div>

      <div class="video-card align-left">
        <audio controls>
          <source src="/audio/schumann-horn.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <div class="video-title">Schumann arrangement for horn and organ</div>
        <div class="credit">Audio engineering/mixing. Unedited take from an upcoming album.</div>
      </div>

      <div class="video-card align-left">
        <lite-youtube
          videoid="s2Ko-NDOHm4"
          playlabel="O ruddier than the cherry (Handel)"></lite-youtube>
        <div class="video-title">O ruddier than the cherry (Handel)</div>

        <div class="credit">Audio engineering/mixing/editing and video production. Duo: Ben Kazez and Laurens de Man</div>
      </div>
    </div>
  </div>
</div>
