---
site: Leipzig Cantata Project
---
<div class="row">
  <div class="col-12 text-width">
    <h1>Leipzig Cantata Project</h1>

    <div class="photo-card">
      <img src="/images/leipzig.jpg">
      <p class="caption">Leipzig Cantata Project, 2016</p>
    </div>

    <p>Join us for three virtuoso Bach cantatas with “gold standard” (NY Times) baroque trumpeter JOHN THIESSEN and Philharmonia concertmaster ELIZABETH BLUMENSTOCK. Enjoy tasty German SNACKS and WINE free with each $20 ticket!</p>

    <p>The Leipzig Cantata Project brings a full historical-instrument group of top established and young professional artists to perform three exciting Bach cantatas with virtuosic trumpet solos, followed by food and wine. NYC-based John Thiessen (“the gold standard of Baroque trumpet playing” — New York Times) plays alongside Elizabeth Blumenstock (concertmaster for Philharmonia and American Bach Soloists) and oboist Steve Hammer (over 200 recordings), and they are joined by leading baroque musicians from the area and beyond.</p>

    <p>The music is followed by German snacks and wine, included free with each $20 orchestra-level ticket. Our tasty German snacks are generously donated by Gaumenkitzel, and our German wine is generously donated by WineWise.</p>

    <p>Buy your ticket now for a multisensory, inspirational, emotionally fulfilling performance!</p>

    <h2>Program</h2>
    <p>All cantatas feature exciting trumpet solos by John Thiessen.</p>

    <ul class="list">
    <li>Bach Cantata 5: Wo soll ich fliehen hin (Where shall I flee)</li>
    <li>Bach Cantata 90: Es reißet euch ein schrecklich Ende (A horrible end will carry you off)</li>
    <li>Bach Cantata 43: Gott fähret auf mit Jauchzen (God goes up with jubilation)</li>
    </ul>

    <p>We know planning ahead isn't for everyone, but in order to guarantee that there are enough tasty German snacks and wine for you, please do buy a ticket in advance!</p>

    <h2>Artists</h2>

    <p>Described by the New York Times as “brilliant” and “representing the gold standard of Baroque trumpet playing in this country,” trumpeter JOHN&nbsp;THIESSEN's performances combine beauty of sound with brilliance and virtuosity for 17th–19th century clarino repertoire. Internationally, Mr. Thiessen has performed under Sir John Eliot Gardiner, Christopher Hogwood, Nicholas McGegan, Ton Koopman and Andrew Parrott. In North America, he appears regularly as soloist and principal trumpet with Philharmonia Baroque Orchestra, Tafelmusik, American Bach Soloists, Trinity Baroque Orchestra, the Boston Early Music Festival, and Early Music Vancouver. On the modern trumpet, he recently performed as soloist with the San Francisco Symphony and as Principal Trumpet with the Orchestra of St Lukes. He serves on the faculty of Juilliard’s Historical Performance department and has recorded 70 CDs for Sony Classical Vivarte, Telarc, EMI, BMG, Deutsche Harmonia Mundi, London Decca, Analekta, CBC, Tafelmusik Media and Denon.</p>

    <p>ELIZABETH BLUMENSTOCK (violin) is long-time concertmaster, soloist, and leader with Philharmonia Baroque and American Bach Soloists, concertmaster of the International Handel Festival in Göttingen, Germany, and Artistic Director of the Corona del Mar Baroque Music Festival. Her love of chamber music has involved her in several accomplished smaller ensembles including Musica Pacifica, Galax Quartet, Ensemble Mirable, Live Oak Baroque, and Voices of Music. Ms. Blumenstock teaches at the San Francisco Conservatory of Music, the American Bach Soloists summer Festival and Academy, the International Baroque Institute at Longy, and beginning this fall, will be teaching with Juilliard’s Historical Performance program.  Ms. Blumenstock plays a 1660 Andrea Guarneri violin built in Cremona, Italy, on generous loan to her from the Philharmonia Baroque Period Instrument Trust.</p>

    <p>STEPHEN HAMMER (oboe) enjoys an eclectic musical life playing and teaching oboes and recorders of all periods.  He has served as principal oboist of the Bach Ensemble, Boston Handel and Haydn Society, Musica Angelica, the American Bach Soloists, Concert Royal, and the New York Collegium, and was also recorder soloist for the Metropolitan Opera orchestra.  His more than 200 recordings of Bach, Handel, Mozart, and other 18th century solo, sacred, and orchestral music appear on Decca L’Oiseau-lyre and many other labels; he teaches oboe, chamber music, and performance practice the Bard College Conservatory of Music, is artistic director of the Blue Hill Bach Festival in Maine, and also collaborates with the instrument-maker Joel Robinson in designing and building replicas of historical oboes.  After living in the northeastern US for many years he recently relocated to the Los Angeles area.</p>

    <p>KATHERINE HEATER (early keyboards) performs frequently with local early music groups Musica Pacifica, Voices of Music and Magnificat among others. She also appears with Baroque Chamber Orchestra of Colorado, the Whidbey Island Music Festival, and was a soloist this summer with the Sun Valley Summer Symphony in Idaho. Ms. Heater teaches harpsichord at UC Berkeley and privately.</p>

    <p>LINDSEY LANG (mezzo soprano) is noted for her bold interpretations of early music with a “tone [of] pure, radiant sunshine.” She has appeared as a soloist with modern and period orchestras nation-wide and has sun in main-stage events for early music festivals in Berkeley, Bloomington, New Brunswick, New York, and Quito, Ecuador.  She has appeared as a soloist is such great works as Bach’s B Minor Mass and Magnificat, Britten’s A Boy Was Born, Handel’s Messiah, Haydn’s Lord Nelson Mass and Schöpfunsgmesse, and the Monteverdi Vespers of 1610.  Recently she sang the soprano solos in Haydn’s Lord Nelson Mass under the baton of Joseph Flummerfelt, and premiered Stefan Freund’s oratorio The War Amongst Families and Neighbors: The Civil War in Missouri. Lindsey is also an avid choral singer, and currently sings with the Kansas City Chorale under the direction of Charles Bruffy, and is a featured soloist on their Grammy-winning CD “Life and Breath.”  In addition to her work with the Chorale, Lindsey frequently performs with Prometheus, the Simon Carrington Chamber Singers, Sacabuche, and the Spire Chamber Ensemble. She currently resides in Kansas City.</p>

    <p>FIONA LAST (oboe) Whether it’s playing 16th century polyphony on the shawm or performing Stravinsky under John Adams, singing in choirs or playing with the Philadelphia Arab Music Ensemble, oboist Fiona Last aims to find as many musical avenues as possible through which to communicate with audiences. She has performed with musicians such as Yo Yo Ma, Krzysztof Penderecki, Jordi Savall, and Masaaki Suzuki, and appeared as a soloist in both Europe and the United States. Fellowships at the Norfolk and Bowdoin summer festivals have allowed her to explore her love of chamber music. Fiona is currently completing a Master’s degree in early oboes from The Juilliard School; she also holds degrees in modern oboe from the Yale School of Music and Temple University, and a degree in Arabic and Ethnomusicology from The School of Oriental and African Studies in London.</p>

    <p>JENNIFER PAULINO (soprano) is celebrated for her “graceful yet powerful” and “sensitive and clear” voice (SF Classical Voice). Specializing in baroque, contemporary, and chamber music, Ms. Paulino has performed as a soloist in Australia, Denmark, Poland, The Netherlands, and across the U.S.  Upcoming performances include Bach’s St. Matthew Passion with California Bach Society and a recital on the A. Jess Shenson Voice Recital series at Stanford University.  Ms. Paulino studied early music styles at the Royal Conservatory of The Hague, Netherlands, and completed her undergraduate studies at Westminster Choir College of Rider University.  She is on faculty at the annual San Diego Summer Choral Festival and maintains an active private voice studio in the East Bay.</p>

    <p>HOLLY PICCOLI (violin) has established herself internationally as a modern and baroque violinist. Newly based in the Bay Area, Holly has worked with the American Bach Soloists and the San Francisco Chamber Orchestra, and frequently returns to New York and Australia for performances. Holly’s most recent career highlights include performing in Manhattan with Trinity Baroque Orchestra as soloist and Concertmaster of Orchestra II for Bach's St Matthew Passion, her solo recital at Italy’s Bari International Music Festival, and the Melbourne Piano Trio's extensive tour throughout China and Mongolia.</p>

    <p>KYLE STEGALL (tenor) sings in venues throughout the world as a recitalist, opera singer, and concert soloist.  A specialist in music of the baroque, Kyle’s interpretations of the Bach evangelists and the leading roles of Handel and Charpentier are characterized by an unfailing attention to style and detail.  Kyle's "lovely tone and ardent expression" were praised by the New York Times following his Lincoln Center debut as the evangelist in Bach's St. John Passion under the direction of Masaaki Suzuki.  The American Bach Soloists, led by celebrated conductor Jeffrey Thomas, have just released a Blu-Ray DVD of Handel's Messiah in which Kyle is featured as tenor soloist. Upcoming performances include recital appearances in Melbourne and New Haven, and a tour throughout China singing Tamino in Mozart’s Die Zauberflöte. Kyle is an alumnus of the universities of Missouri, Michigan, and Yale and maintains a private voice studio in El Cerrito, CA. </p>

    <p>BEN KAZEZ (baritone) studied Bach cantatas with English tenor Mark Padmore as a Britten–Pears Young Artist in Aldeburgh, England. Ben’s concert repertoire includes major vocal works of Bach (including a dozen cantatas), Haydn, Handel, Mozart, Fauré, Brahms, and Vaughan Williams. He has appeared as soloist with Tafelmusik Baroque Summer Festival, American Bach Soloists Festival, Chamber Music Society of San Francisco, Cincinnati Boychoir, Stanford, UC Davis, Cal Poly, University of San Diego, and Chanticleer alumni group Clerestory, at a benefit concert hosted by Deborah Voigt and Susan Graham. Recent opera roles include Don Basilio (Paisiello’s Barber of Seville) with West Edge Opera, Grand Priest (Marais’s Sémélé), Re di Scozia (Ariodante), Zoroastro (Orlando), Polyphemus (Acis and Galatea), and Bouncer (Cox and Box). In recital Ben recently performed with pianist Peter Grunberg, musical assistant to Michael Tilson Thomas. Ben graduated from Carleton College magna cum laude.</p>

    <h2>FAQs</h2>

    <h3>When do I clap?</h3>

    <p>We appreciate your applause, but we kindly ask you to hold it until the end of a cantata. We'll endeavor to make this clear in the program so there's no confusion.</p>

    <h3>How do I get there on public transit?</h3>

    <p>Our venue, Calvary Presbyterian, is accessible by MUNI lines #3, #12, #22 and #24. From the East Bay, take BART to Montgomery, then take the 3 PRESIDIO or a cab to the church.

    <h3>Do I need advance tickets?</h3>

    <p>We know planning ahead isn't for everyone, but in order to guarantee that there are enough tasty German snacks and wine for you, please do buy a ticket in advance. It's only $20!</p>

    <h2>Getting There</h2>
    <p>Our venue, Calvary Presbyterian, is accessible by MUNI lines #3, #12, #22 and #24. From the East Bay, take BART to Montgomery, then take the 3 PRESIDIO or a cab to the church.</p>

    <p>Calvary Presbyterian is located at 2515 Fillmore St, San Francisco, CA 94115. Some street parking is available, and there are several parking garages in the area.</p>

    <h2>Support Us</h2>

    <p>Leipzig Cantata Project is a fiscally sponsored project of Fractured Atlas, and we need your help.</p>

    <p>Like other performing arts endeavors, our ticket revenues only cover a small fraction of our costs. Unlike other performing arts endeavors, all our donations go toward the artists.</p>

    <p>Even a small contribution will have a huge impact on our concert and will make the beautiful music of Bach accessible to audiences throughout the Bay Area.</p>

    <p>We are raising $2500 to help cover costs, and we've already raised over $500. Donations made through Fractured Atlas are tax deductible and include tickets. If you love Bach or just want to help bring arts to our community, please consider a small donation today.</p>

    <h2>Press</h2>

    <p>July 14, 2016 Leipzig Cantata Project Will Give its First Concert Next Month <a href="https://therehearsalstudio.blogspot.com/2016/07/the-leipzig-cantata-project-will-give.html?utm_content=buffer2057a">The Rehearsal Studio</a></p>

    <p>Snacks But No Sermon / July 3, 2016 <a href="https://sfems.org/?p=8849">San Francisco Early Music Society</a></p>

    <h2>Contact</h2>

    <p>If you have any questions that weren’t answered here, please <a href="mailto:ben@benkazez.com">email Ben</a>.</p>
  </div>
</div>