---
site: Ben Kazez · Tech
hide_header_and_footer: true
block_robots: true
---

<div class="row">
  <div class="col text-width px-4">
    <h1>Ben Kazez</h1>

    <p>After an internship at Apple working on iCal, Ben designed and developed the first iPhone translation dictionary app, Ultralingua, which was the bestselling reference app for six months.</p>

    <p>Then, as a side project, Ben created FlightTrack, which was the best-selling travel app for four years and was featured by the <em>New York Times</em> (“Brilliant,” “incredible,” “amazing”), <em>Wall Street Journal</em>, <em>USA Today</em>, <em>Los Angeles Times</em>, <em>Reuters</em>, <em>Forbes</em>, <em>Scientific American</em>, <em>Entrepreneur</em>, <em>Travel + Leisure</em>, <em>Macworld</em>, <em>NY Post</em>, <em>Chicago Tribune, Inc.</em>, <em>La Repubblica</em>, <em>Globe and Mail</em>, <em>TIME</em>, ABC, Today Show, CNN, Travel Channel, 30 Rock, and in Steve Jobs keynotes, Apple retail stores, and the App Store Hall of Fame.</p>

    <div class="photo-card">
      <img src="/images/sj.jpg">
      <p class="caption">Steve Jobs mentioned FlightTrack in two of his keynotes.</p>
    </div>

    <p>Following FlightTrack’s success, Ben started Mobiata, which created other travel apps including HotelPal, the first iPhone hotel booking app, and FlightBoard, a live airport departure and arrival tracker. The apps were featured by the <em>New York Times, Boston Globe, Travel + Leisure, Condé Nast Traveler, Macworld,</em> CNN and Apple TV, print, web, and retail.</p>

    <p>In 2010 Mobiata was acquired by Expedia, where the Mobiata team designed and launched the official Expedia app, a top-five travel app in 46 countries praised by the <em>New York Times</em> for its “clean design” and “ease of use“ and featured by the BBC, <em>Forbes, USA Today,</em> and others.</p>

    <p>FlightTrack, FlightBoard, and Expedia won Webby Awards, and in 2009 <em>Businessweek</em> named Ben among America’s Top 25 Best Young Entrepreneurs. Ben has given lectures and workshops at the University of Michigan, Carleton College, Startup Weekend, and 1,000 Pitches, and in 2013 gave a keynote address for 1,000 Expedia employees.</p>

    <p>Ben left Expedia in 2012 and has since turned his talents toward performing and creating apps to help musicians, such as InTune, which <em>Voice Council Magazine</em> deemed “brilliantly simple.” He has also created the <a href="https://www.vmii.org/">Vocal Music Instrumentation Index</a>, which has helped 140,000 people discover baroque vocal music.</p>
  </div>
</div>