---
site: Ben Kazez · Widgets
hide_header_and_footer: true
block_robots: true
---

<div class="row">
  <div class="col text-width px-4">
    <h1>Looking for Dashboard widgets?</h1>

    <p>Sorry, I am no longer developing the iCal Events widget. If you know someone who might want to pick up the project, please refer them <a href="https://github.com/bkazez/icalevents">here</a>. Otherwise, please have a look around at my <%= link_to 'music', '/' %> and <%= link_to 'tech', '/tech.html' %> work.</p>
  </div>
</div>