$accent-color: #0084ff;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@function toRem($size) {
  $remValue: $size / 16 * 1rem;
  @return $remValue;
}

$body-font-size: toRem(18);
$body-line-height: toRem(25);

$leadin-font-size: toRem(18); // 21/29
$leadin-line-height: toRem(25);

$body-background-color: #f7f7f7;
$separator-border: 0.5px solid rgba(0, 0, 0, 0.25);
$container-fluid-width: 1100px;
$text-color-grey: #757575;
$text-width: 65ch;

@mixin all-small-caps {
  text-transform: lowercase;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  -ms-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}

@mixin oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -o-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

@mixin common-ligatures {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.acronym {
  @include all-small-caps;
  letter-spacing: 0.2px;
}

body {
  background-color: $body-background-color;
  font-family: "EB Garamond", serif;
  line-height: $body-line-height;
  font-size: $body-font-size;
  text-rendering: geometricPrecision;
  @include oldstyle-nums;
  @include common-ligatures;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.home .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.home .hamburger-menu div {
  background: white;
}

/***********************************/

/* Styling for the hamburger menu */
.hamburger-menu {
  position: fixed; /* This makes the hamburger menu stay at the same place even when the page is scrolled */
  top: 35px;
  right: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; /* Changes the cursor to a hand when hovering over the hamburger menu */
  pointer-events: auto;
}

/* Each line in the hamburger menu */
.hamburger-menu div {
  width: 100%;
  height: 2.5px;
  background: black;
  transition: all 0.3s; /* Smoothens the transition when the hamburger menu turns into an X */
}

/* Animations for turning the hamburger menu into an X */
.hamburger-menu.open div:nth-child(1) {
  transform: rotate(
    45deg
    ); /* Rotate the top bar to form one diagonal of the X */
  position: relative;
  top: 8px; /* Adjust position to meet the other bar in the middle */
}
.hamburger-menu.open div:nth-child(2) {
  opacity: 0; /* The middle line disappears */
}
.hamburger-menu.open div:nth-child(3) {
  transform: rotate(
    -45deg
    ); /* Rotate the bottom bar to form the other diagonal of the X */
  position: relative;
  top: -8px; /* Adjust position to meet the other bar in the middle */
}

/* Styling for the navigation menu */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh; /* Otherwise you can't click links beneath it */
  background: rgba(0, 0, 0, 0); /* Initial background is fully transparent */
  transition: background 0.2s cubic-bezier(0.42, 0, 0.58, 1); /* Smoothens the transition when the menu slides in */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
}

.nav.show {
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  pointer-events: auto;
}

/* Each line in the navigation menu */
.nav ul {
  list-style: none;
  display: flex;
  padding-top: 5px;
  margin-right: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(-200px);
  transition:
  opacity 0.5s,
  transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

/* Makes the navigation menu visible and slide down when the hamburger menu is clicked */
.nav.show ul {
  opacity: 1;
  transform: translateY(0);
}

.nav li {
  text-indent: 0;
}

.nav a {
  text-decoration: none;
}

.home .header {
  text-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
}

.home .nav.show {
  background: rgba(0, 0, 0, 0.7);
}

.nav.show .hamburger-menu {
  position: absolute; /* This makes the hamburger menu move with the nav menu */
}

/* Changes the layout for desktop screens and tablets in landscape orientation */
@media (max-width: 767px) {
  /* Make .container behave like .container-fluid for small viewports */
  .home .container {
    max-width: 100% !important;
  }

  .nav li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

}
@media (min-width: 768px) {
  /* The hamburger menu disappears */
  .hamburger-menu {
    display: none;
  }

  /* The navigation menu becomes a horizontal bar at the top */
  .nav {
    position: initial;
    background: none;
    height: auto;
    pointer-events: auto;
  }

  /* The lines in the navigation menu line up horizontally with 1rem of space between each one */
  .nav ul {
    flex-direction: row;
    opacity: 1;
    transform: translateY(0);
  }
}
/*********************/

.footer {
  padding-top: $body-line-height * 2;
}

.home .footer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.copyright {
  font-size: 0.9rem;
}

body.generic {
  margin-top: 0;
}

.hide_header .header {
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 1; /* Set line-height to 1 */
  margin-bottom: $body-line-height;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }


  .voice-type {
    text-transform: lowercase;
  }
}

.text-width p, .text-width ul {
  max-width: $text-width;
}

img.flow {
  width: 100%;
}

@media (min-width: 730px) {
  .cropper {
    display: block;
    max-height: none;
    float: right;
    min-width: 200px;
    max-width: 45vw;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.embed-responsive {
  margin-bottom: $body-line-height;
  max-width: calc(100% - 2rem);
}

.btn-secondary {
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 2rem;
  padding: 0.5rem 1.2rem;
}

h2 {
  font-size: $body-font-size;
  margin-top: $body-line-height * 2;
  margin-bottom: $body-line-height;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: $body-font-size;
  margin-top: 2 * $body-line-height;
  margin-bottom: $body-line-height;
  line-height: $body-line-height;
}

section h2:first-child {
  margin-top: 0;
}

h3:first-child {
  margin-top: 0;
}

.col {
  padding: 0;
}

.management {
  background-color: white;
  text-align: center;
  margin-bottom: $body-line-height;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 100%;
  img {
    width: 230px;
  }
}

a,
a:not([href]):not([tabindex]) {
  color: black;
  font-weight: normal;
  text-decoration: underline;
  &:hover {
    @extend a;
    color: $accent-color;
  }
}

a.btn-arrow:hover {
  text-decoration: none !important;
  .title {
    text-decoration: underline !important;
  }
}

a.btn {
  font-weight: normal;
}

li {
  text-indent: -1rem;
  padding-left: 2rem;
}

/* Photos */

.photo-card {
  text-align: left;

  img {
    width: 100%;
  }
}

.photos img:not(:first-child) {
  margin-top: 2rem;
}

.gallery {
  a img {
  }

  a:hover img {
    filter: brightness(1.1);
  }
}

.img-flow {
  max-width: 100%;
  float: none;
  margin-bottom: 1rem;
}

@media (min-width: 577px) {
  /* one pixel above Bootstrap's small screen breakpoint */
  .img-flow {
    max-width: 40vw;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

/* Events/Reviews */

.events, .reviews {
  li {
    margin-bottom: $body-line-height;
    text-indent: 0;
    padding-left: 0;

    .group,
    .leader,
    .status,
    .venue,
    .source,
    .performance {
      color: $text-color-grey;
    }
    img {
      margin-top: 2rem;
    }
  }
}

/* Videos */

lite-youtube {
  text-align: left;
}

lite-youtube::before {
  background-image: none !important;
}

.photo-card {
  margin-top: $body-line-height * 2;
}

.video-card {
  margin-right: auto;
  margin-top: $body-line-height * 3;
  max-width: 800px;
  text-align: left;

  .video-title {
    padding-top: 1rem;
    font-size: $body-font-size;
  }
}

.engineering .video-card {
  margin-left: 0;
  margin-right: auto;
}

.credit {
  color: $text-color-grey
}

/* Distractionblock */
$dblock-shadow-radius: 0.65rem;

.demo .col:first-child {
  padding-left: $dblock-shadow-radius;
  padding-right: 1rem;
}

/* allow room for shadow */
.demo .col:last-child {
  padding-right: $dblock-shadow-radius;
}

/* Print */
@media print {
  #media,
  #events-past {
    display: none;
  }

  .read-more {
    display: none !important;
  }
}

/* Homepage */
.home {
  .container {
    padding-top: 0;
    section {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .row.header {
    background-image: url('/.netlify/images?url=/images/about.jpg?w=2000&h=2000&fit=contain');
    background-size: cover;
    background-position: left;
    height: 70vh; /* adjustable */
    max-height: 500px;
    min-height: 300px;
    position: relative;
    display: flex;
    padding-top: 2rem;

    h1 {
      position: absolute;
      bottom: 30px;
      left: 30px;
      margin: 0;
      font-family: 'EB Garamond', serif;
      font-size: 2.5rem;
      color: white;
      text-shadow: 0 2px 10px rgba(0,0,0,0.5);
    }
  }

  .nav a {
    color: white;
    &:hover {
      @extend a;
      color: white;
    }
  }
}

.scroll-row .video-card {
  margin-top: 0;
}

section+section {
  margin-top: $body-line-height * 1.5 !important;
  padding-top: $body-line-height * 1.5 !important;
  border-top: $separator-border;
}

.scroll-row {
  display: flex;
  overflow-x: auto;
  margin-bottom: $body-line-height;
  justify-content: flex-start; /* ensure left alignment */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

.scroll-row .video-card {
  max-width: 80vw;
  flex: 0 0 auto;
  width: 320px;
  margin-right: 1rem;
}

.read-more {
  display: inline-block;
}

