<% hero_image_path = current_hero_image_path() %>
<% if hero_image_path %>
  <div class="cropper">
    <%= responsive_image(hero_image_path, "Hero image", 
          class: "flow",
          sizes: [480, 768, 1024, 1440, 1920]) %>
  </div>
<% end %>