<% hero_image_path = current_hero_image_path() %>
<% if hero_image_path %>
  <div class="cropper">
    <img
      src="/.netlify/images?url=<%= hero_image_path %>&w=500&h=500&fit=cover"
      srcset="
        /.netlify/images?url=<%= hero_image_path %>&w=500&h=500&fit=cover 1x,
        /.netlify/images?url=<%= hero_image_path %>&w=1000&h=1000&fit=cover 2x"
      class="flow">
  </div>
<% end %>