@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: "EB Garamond", serif;
}

h1 {
  font-weight: normal;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.home .row.header {
  background-image: url('/images/about.jpg');
  background-position: left center;
  .logo {
    font-size: 2rem;
  }
}

.nav {
  ul {
    padding-top: 1px;
  }

  li {
    text-transform: lowercase;
    letter-spacing: 1px;
  }
}
