<li class="review">
  <div class="performance"><%= markdown(review.performance, without_p: true) %></div>
  <div class="quote"><%= markdown(review.quote, without_p: true) %></div>
  <div class="source"><%= markdown(review.source, without_p: true) %></div>
</li>