---
title: About
---
<%
bio = File.read(tenant_data_file("bio.md"))
%>

<div class="row">
  <div class="col">
    <div class="text-width">
      <%= partial('partials/hero_image') %>

      <h1>About</h1>
      <%= markdown(bio) %>
    </div>
  </div>
</div>
