---
title: Calendar
---
<div class="row">
  <div class="col">
    <div class="text-width">
      <h2>Upcoming</h2>

      <div class="cropper">
        <img src="/images/pages/calendar.jpg" class="flow">
      </div>

      <ul class="list-unstyled events">
        <% future_events(merged_events).each do |event| %>
            <%= partial(:event, locals: { event: event }) %>
        <% end %>
      </ul>

      <p>Additional performances will be announced shortly.</p>
    </div>
  </div>
</div>
