---
title: Contact
hide_contact_footer: true
---
<div class="row contact">
  <div class="col">
    <div class="text-center mt-5">
      <h1>Contact</h1>
      <%= responsive_image("/tenants/#{tenant}/images/contact.jpg", "Contact", 
            class: "img-fluid mb-4",
            sizes: [320, 480, 546]) %>
      <%= partial('partials/_contact') %>
    </div>
  </div>
</div>