---
title: Contact
hide_contact_footer: true
---
<div class="row">
  <div class="col">
    <div class="text-center mt-5">
      <h2>Contact</h2>
      <img src="/.netlify/images?url=/images/contact.jpg&w=2000&h=2000&fit=contain" class="img-fluid mb-4">
      <%= partial('partials/management') %>

      <% if tenant_data.site.email %>
        <p>Get in touch with <%= tenant_data.site.first_name %> directly by emailing <%= mail_to(tenant_data.site.email) %>.</p>
      <% end %>
    </div>
  </div>
</div>