---
title: Photos
---
<div class="row">
  <div class="col text-center">
    <h2>Photos</h2>
  </div>
</div>
<div class="row">
  <% Dir["source/images/photos/*"].each_with_index do |path, i| %>
    <% filename = File.basename(path) %>
    <div class="col-xs-12 col-sm-4 gallery">
      <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden; margin-bottom: 20px;">
        <a href="/.netlify/images?url=/images/photos/<%= filename %>&w=1000&h=1000&fit=contain">
          <img 
            src="/.netlify/images?url=/images/photos/<%= filename %>&w=700&h=700&fit=contain"
            srcset="
              /.netlify/images?url=/images/photos/<%= filename %>&w=350&h=350&fit=contain 1x,
              /.netlify/images?url=/images/photos/<%= filename %>&w=700&h=700&fit=contain 2x"
               style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
        </a>
      </div>
    </div>
  <% end %>
</div>