---
title: Photos
---
<div class="row">
  <div class="col text-center">
    <h2>Photos</h2>
  </div>
</div>
<div class="row">
  <% Dir["source/images/photos/*"].each_with_index do |path, i| %>
    <% filename = File.basename(path) %>
    <div class="col-xs-12 col-sm-4">
      <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden; margin-bottom: 20px;">
        <img src="/images/photos/<%= filename %>"
             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
             alt="<%= filename %>">
      </div>
    </div>
  <% end %>
</div>