---
title: Photos
---
<div class="row">
  <div class="col text-center">
    <h1>Photos</h1>
  </div>
</div>
<div class="row">
  <% Dir["source/tenants/#{tenant}/images/photos/*"].each_with_index do |path, i| %>
    <% filename = File.basename(path) %>
    <div class="col-xs-12 col-sm-4 gallery">
      <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden; margin-bottom: 20px;">
        <a href="<%= resize_image("/tenants/#{tenant}/images/photos/#{filename}", 1920) %>" target="_blank">
          <%= responsive_image("/tenants/#{tenant}/images/photos/#{filename}", "Photo #{i+1}", 
                class: "",
                sizes: [320, 400, 500],
                style: "position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;") %>
        </a>
      </div>
    </div>
  <% end %>
</div>