---
title: Videos
---
<div class="row">
  <div class="col">
    <h1>Videos</h1>
    <% tenant_data.media.each do |video| %>
      <div class="video-card">
        <lite-youtube
          videoid="<%= video[:media] %>"
          playlabel="<%= video[:title] %>"
          posterquality="maxresdefault"
          params="rel=0"
          ></lite-youtube>
        <div class="video-title"><%= markdown(video[:title], without_p: true) %></div>

        <% if video[:credit].present? %>
          <div class="credit"><%= markdown(video[:credit], without_p: true) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
